/* CSS Document */
.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.50;
			filter: alpha(opacity=90);
		}
		.white_content {
			display:none;
			position: absolute;
			top: 200px;
			left:25%;
			padding: 16px;
			z-index:1002;
			overflow: auto;
			background: #ffffff;
			
			 width:650px;
			 height:390px;
			padding:40px 0px;
			overflow:auto;
		}
		.white_content2 {
			display:none;
			position: absolute;
			top: 400px;
			left:25%;
			padding: 16px;
			z-index:1002;
			overflow: auto;
			background: #ffffff;
			
			 width:650px;
			 height:390px;
			padding:40px 0px;
			overflow:auto;
		}
.lightBoxDiv{
background:#FFFFFF;
width:500px;
margin:40px 0px 0px 90px;
position:absolute;
padding:25px 20px 20px 20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
z-index:2000;
text-align:right;}

.lightBoxBodyDiv{
width:500px;
height:380px;
padding:5px;
overflow:auto;}



.closeDiv{
width:60px;
right:0;
position:absolute;
text-align:left;}

a.closeLink{
background:url(../images/delete.png) no-repeat left;
padding-left:20px;
color:#FF0033;
display:block;
text-decoration:none;}

a.closeLink:hover{
text-decoration:underline;}

.lightBoxBodyDiv h1{
color: #BB0302;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-style: normal;
	font-weight:bold;
}