.rating{list-style:none;margin-left:0px!important;padding:0px;width:100px;height:16px;position:relative;
background:url(../images/sprite_icons.png) top left repeat-x;background-position:0px 0px;float:left}.rating
li{padding:0px;margin:0px;/*\*/float:left;/**/}.rating li.your-rating, .rating li.current-rating{float:left;background:url(../images/sprite_icons.png) left center repeat-x;background-position:0px -38px;position:absolute;height:16px;display:block;text-indent:-9000px;z-index:1}.rating li
a{display:block;width:20px;height:16px;text-decoration:none;text-indent:-9000px;z-index:20;position:absolute;padding:0px}.rating li a:hover{background:url(../images/sprite_icons.png) left bottom repeat-x;background-position:0px -19px;z-index:2;left:0px}.rating a.one-star{left:0px}.rating a.one-star:hover{width:20px}.rating a.two-stars{left:20px}.rating a.two-stars:hover{width:40px}.rating a.three-stars{left:40px}.rating a.three-stars:hover{width:60px}.rating a.four-stars{left:60px}.rating a.four-stars:hover{width:80px}.rating a.five-stars{left:80px}.rating a.five-stars:hover{width:100px}.ratebox-current{clear:both;width:100%;text-align:center;padding-top:2px;padding-bottom:1px;display:none}