/*Scott*/
div.pagination {
	padding:3px;
	margin:3px;
	text-align:center;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #d81718;
	
	text-decoration: none; 
	color: #d81718;
}
div.pagination a:hover, div.pagination a:active {
	border:1px solid #d81718;
	color: #FFF;
	background-color: #ed3335;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #9e0708;
	font-weight: bold;
	background-color: #d81718;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}