@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#444444;
	line-height:18px;
	margin:0px;
	border:none;}

.spacer{
	font-size:0px;
	line-height:0px;
	clear:both;}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
	margin:0;
	padding:0;}

p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#444444;
	font-size:12px;
	line-height:18px;
	padding:0px 0px 7px 0px;
	text-align:justify;
	margin:0px;
	border:none;}
	
p span{
	font-family:Arial, Helvetica, sans-serif;
	color:#bb0302;
	font-size:12px;
	line-height:18px;
	padding:0px 0px 0px 0px;
	margin:0px;
	border:none;}
	
h1{
background:none;
border:none;
padding-bottom:7px;
margin:0;
font-style:normal;
font-weight:normal;
color:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

h1 font{
background:none;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

h2{
background:none;
border:none;
padding-bottom:7px;
margin:0;
font-style:normal;
font-weight:normal;
color:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

h2 font{
background:none;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

h3{
background:none;
border:none;
padding-bottom:7px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

h3 font{
background:none;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:normal;
color:#EDA20B;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

h4{
background:none;
border:none;
padding-bottom:7px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

h4 font{
background:none;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:normal;
color:#fcaf3b;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}
h5{
font-family:Verdana, Arial, Helvetica, sans-serif
color:#000000;
font-size:14px;
font-weight:bold;
text-align:center;

}	
h6{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:10px;
}	
a.meroon_link{
color:#bb0302;
text-decoration:none;}

a.meroon_link:hover{
text-decoration:underline;}


a.home_black{
color:#000;
font-size:15px;
font-weight:bold;
text-decoration:none;}

a.home_black:hover{
color:#bb0302;
text-decoration:none;}


a.small_black{
color:#000;
font-size:11px;
text-decoration:none;}

a.small_black:hover{

text-decoration:underline;}


a.blue_link{
color:#397ebe;
text-decoration:underline;}

a.blue_link:hover{
text-decoration:underline;}


a.grey_link{
color:#333;
text-decoration:none;}

a.grey_link:hover{
text-decoration:underline;}

.padding_div{
padding-bottom:30px;}
	
	
	
	
/**********************************TOP_HEADER******************************************/
#top_header{
background:#f4f4f4;
width:100%;
padding:10px 0px;}


.top_header_div{
width:990px;
margin:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#333;}

.live_chat_div{
width:220px;
float:right;
position:relative;
text-align:right;}

.live_chat_icon{
background:url(../images/live_chat_icon.png) no-repeat;
width:44px;
height:44px;
position:absolute;
z-index:100px;}

.register_div{
padding-right:20px;
float:right;
width:300px;}

.register_div ul{
	padding:0;
	margin:0;
	z-index:100;}

.register_div ul li{
background:url(../images/register_divider.jpg) no-repeat left;
	list-style: none;
	margin:0;
	padding:0px 0px 0px 2px;
	font-weight:normal;
	float:right;}

.register_div ul li a{
	padding:0px 10px;
	text-decoration:none;
	margin:0px;
	display:block;
	color:#333;}

.register_div ul li a:hover{
text-decoration:underline;}

.register_div ul li a.active{
text-decoration:underline;}
	
	
	
/**************************************HEADER******************************************/
#header_bg{
background:url(../images/header_bg.jpg) #e09a14 repeat-x top;
width:100%;}

.header_div{
width:990px;
margin:auto;
height:145px;
position:relative;
overflow:hidden;}

.logo_div{
float:left;
padding-top:45px;}

.header_right{
width:500px;
float:right;
padding-top:30px;
text-align:right;}

.header_right h1{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:bold;
color:#FFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:34px;
line-height:34px;
text-shadow:0px 1px 0px #ad6f00;}

.header_right h2{
background:none;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#FFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #ad6f00;}

.header_right h2 font{
background:none;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #ad6f00;}

.nav {
	width:990px;
	height:30px;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	position:absolute;
	bottom:0px;
	left:0px;}

.nav ul{
	padding:0;
	margin:0;
	z-index:100;}

.nav ul li{
	list-style: none;
	margin:0;
	padding:0px 2px 0px 2px;
	font-weight:normal;
	position:relative;
	float:right;}

.nav ul li a{
	background:url(../images/nav_bg.jpg) repeat-x;
	background-position:0px 0px;
	width:140px;
	font-size:12px;
	padding:6px 10px 0px 10px;
	height:24px;
	text-decoration:none;
	font-weight:normal;
	margin:0px;
	display:block;
	color:#FFF;
	box-shadow:1px 0px 5px #ad6f00;
	border-radius:6px 6px 0px 0px;}

.nav ul li a:hover{
	background-position:0px -30px;
	color:#333;}

.nav ul li a.active{
	background-position:0px -30px;
	color:#333;}
	
.nav ul li a.home{
	background:url(../images/home.jpg) no-repeat;
	background-position:0px 0px;
	box-shadow:1px 0px 5px #ad6f00;
	border-radius:6px 6px 0px 0px;
	padding:0px;
	width:60px;
	height:30px;
	display:block;}
	
.nav ul li a.home:hover{
	background-position:0px -30px;}
	
.nav ul li a.home_active{
	background:url(../images/home.jpg) no-repeat;
	background-position:0px -30px;
	box-shadow:1px 0px 2px #ad6f00;
	border-radius:6px 6px 0px 0px;
	padding:0px;
	width:60px;
	height:30px;
	display:block;}
	
	
	
	
	

/*******************************************BODY_TOP*******************************************/
#body_top{
background:#F4F4F4;
padding:40px 0px 20px 0px;
width:100%;}
	
.body_top_div{
width:990px;
margin:auto;}

.body_top_left{
background:url(../images/search_bg.jpg) #840000 repeat-x top;
width:460px;
border:1px #e70000 solid;
border-radius:7px;
padding:35px 25px;
float:left;
color:#FFF;}

.search_text_area{
	background:#FFFFFF;
	color:#6d6d6d;
	height:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 9px;
	border:1px #999 solid;}
	
.body_top_left h1{
background:none;
border:none;
padding-bottom:5px;
color:#FFF;
font-size:14px;
font-family:Verdana, Arial, Helvetica, sans-serif;
margin:0;
line-height:normal;
font-style:normal;
font-weight:normal;}


.search_div{
padding-bottom:20px;}

.search_div h1{
font-size:24px;
}
.search_table{
padding:5px 0px;
}
.search_table td{
padding:10px 5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

.search_div_left{
float:left;
width:270px;}

.search_btn_right{
width:170px;
float:right;
padding-top:21px;}

.search_button{
	background:url(../images/search_btn_bg.jpg) #f4bd2d repeat-x;
	height:32px;
	width:168px;
	cursor:pointer;
	color:#222;
	font-style:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0px 0px 5px 0px;
	font-size:18px;
	text-shadow:0px 1px 0px #FFF;
	margin:0;
	border:1px #f4bd2d solid;
	border-radius:6px;}
	
.like_div{
	width:100px;
	height:20px;
	float:left;}

.like_details{
	width:300px;
	float:right;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}


.banner_div{
	background:#FFF;
	padding:10px;
	width:430px;
	height:230px;
	float:right;
	box-shadow:0px 0px 5px #999;}
	
.takeout_div{
padding:20px 0px 30px 0px;}

.takeout_div h1{
background:url(../images/headlines_bg.jpg) no-repeat right;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.select_div{
width:100%;}

.select_div p{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;}

.select_div h1{
padding-bottom:0px;}

.select_div_address{

width:314px;
float:left;
min-height:80px;
padding:0px 14px 0px 0px ;
border-left:1px #FFF solid;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#333;
border-right:1px #c6c6c6 solid;}


.select_div_dish{
background:url(../images/dish.jpg) no-repeat;
background-position:20px 10px;
width:214px;
float:left;
min-height:80px;
padding:0px 14px 0px 100px ;
border-left:1px #FFF solid;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#333;
border-right:1px #c6c6c6 solid;}

.select_div_deliver{
background:url(../images/bag.jpg) no-repeat;
background-position:20px 10px;
width:214px;
float:left;
min-height:80px;
padding:0px 14px 0px 100px ;
border-left:1px #FFF solid;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#333;
border-right:1px #c6c6c6 solid;}

.readmore_div{
padding-top:5px;}

a.readmore_btn{
background:url(../images/readmore_btn.jpg) no-repeat;
width:100px;
height:28px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
padding:9px 20px 0px 0px;
text-align:center;
color:#FFF;
display:block;
text-decoration:none}

a.readmore_btn:hover{
color:#fcbf4c;}





/*********************************MAIN_BODY***************************************/
#main_body{
width:990px;
margin:auto;
padding:40px 0px;}

.main_body_left{
width:680px;
float:left;}

.latest_restaurant_headline{
background:url(../images/edit_icon.jpg) no-repeat;
background-position:0px 2px;
border-bottom:2px #d0d0d0 solid;
padding:0px 0px 0px 25px;
margin-bottom:5px;}

.latest_restaurant_details{
border-bottom:1px #ccc dashed;
padding:10px 0px;}
.latest_restaurant_details p{
margin:0;
padding:0;
}
.latest_restaurant_details  h1{
background:none;
border:none;
padding-bottom:4px;
margin:0;
font-style:normal;
font-weight:normal;
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}

.latest_restaurant_details  h1 font{
background:none;
border:none;
padding-bottom:0px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
line-height:normal;
text-shadow:none;}

.latest_restaurant_details  h1 span{
background:none;
border:none;
padding-bottom:0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}

.latest_restaurant_details  h2{
background:none;
border:none;
padding-bottom:7px;
margin:0;
font-style:normal;
font-weight:normal;
color:#f1a30f;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:normal;
text-shadow:none;}

	
.latest_btn_div{
padding:30px 0px 20px 0px;}

a.grey_readmore_button{
background:url(../images/grey_readmore_btn.png) no-repeat;
width:100px;
height:26px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
padding:6px 27px 0px 0px;
text-shadow:0px 1px 0px #FFF;
text-align:center;
color:#222;
display:block;
text-decoration:none}

a.grey_readmore_button:hover{
color:#999;}

.grey_checkout_button{
background:url(../images/grey_readmore_btn.png) no-repeat;
width:127px;
height:32px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;

text-shadow:0px 1px 0px #FFF;
text-align:left;
padding:0px 0px 2px 10px;
color:#222;
border:0;
cursor:pointer}

grey_checkout_button:hover{
color:#999;}

.edirectory{
width:330px;}

.edirectory  h1{
background:none;
border:none;
padding:0px 0px 3px 0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#bb0302;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:normal;
text-shadow:none;}

.edirectory  h1 font{
background:none;
border:none;
padding:0px 0px 0px 0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#666;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:normal;
text-shadow:none;}

.edirectory p{
font-size:11px;
padding-bottom:5px;
line-height:14px;
color:#777;}

.multicore{

padding:10px 0px 10px 0px;
width:325px;
min-height:60px;
float:left;
margin-left:10px;
border-bottom:1px #ccc dashed;}

.multicore p{
text-align:left;
font-size:11px;
padding-bottom:5px;
line-height:14px;
color:#777;
}

.package{
background:url(../images/package_builder.jpg) no-repeat;
background-position:0px 10px;
padding:10px 0px 10px 85px;
width:245px;
min-height:60px;
border-bottom:1px #ccc dashed;}

.android{
background:url(../images/android.jpg) no-repeat;
background-position:0px 10px;
padding:10px 0px 10px 85px;
width:245px;
min-height:60px;
border-bottom:1px #ccc dashed;}

.click_call{
background:url(../images/click_call.jpg) no-repeat;
background-position:0px 10px;
padding:10px 0px 10px 85px;
width:245px;
min-height:60px;
border-bottom:1px #ccc dashed;}

.deals_engine{
background:url(../images/deals_engine.jpg) no-repeat;
background-position:0px 10px;
padding:10px 0px 10px 85px;
width:245px;
min-height:60px;
border-bottom:1px #ccc dashed;}

.iphone{
background:url(../images/iphone.jpg) no-repeat;
background-position:0px 10px;
padding:10px 0px 10px 85px;
width:245px;
min-height:60px;
border-bottom:1px #ccc dashed;}

a.edirectory_link{
background:url(../images/meroon_arrw.jpg) no-repeat right;
color:#888;
padding-right:15px;
font-size:11px;
text-decoration:none;}

a.edirectory_link:hover{
color:#333;
text-decoration:underline;}







.main_body_right{
width:286px;
float:right;}

.grey_pannel{
background:#f7f7f7;
border-top:4px #fcaf3b solid;
padding:20px;}

.grey_pannel h3{
padding:0px;}


.grey_pannel h1{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:normal;
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
line-height:normal;
text-shadow:none;}

.grey_pannel_field{
padding-bottom:10px;}

.subscribe_text_area{
	background:#FFFFFF;
	color:#6d6d6d;
	height:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:3px 5px;
	border:1px #ccc solid;}
.subscribe_text_area_disable{
	background:#f8f8f8;
	color:#6d6d6d;
	height:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:3px 5px;
	border:1px #ccc solid;}

.submit_button{
	background:url(../images/grey_submit_btn.png) no-repeat;
	height:32px;
	width:106px;
	cursor:pointer;
	color:#222;
	font-style:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0px 25px 5px 0px;
	font-size:12px;
	text-shadow:0px 1px 0px #FFF;
	border:none;
	margin:0;}
	
.order_div{
background:url(../images/first_order_bg.jpg) no-repeat;
height:170px;
padding:62px 20px 0px 20px;
text-align:center;
text-shadow:0px 1px 0px #FFF;
color:#333;
font-size:14px;}

.order_div h1{
background:none;
border:none;
padding-bottom:5px;
margin:0;
font-style:normal;
font-weight:bold;
color:#eda20b;
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.order_div h1 font{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:bold;
color:#bc0001;
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.order_div h2{
background:none;
border:none;
padding-bottom:5px;
margin:0;
font-style:normal;
font-weight:bold;
color:#eda20b;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.order_div h3{
background:none;
border-bottom:2px #999 dashed;
padding-bottom:15px;
margin-bottom:10px;
font-style:normal;
font-weight:bold;
color:#eda20b;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.order_div h3 font{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:bold;
color:#bc0001;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

a.order_link{
text-shadow:0px 1px 0px #FFF;
color:#bc0001;
text-decoration:none;}

a.order_link:hover{
text-decoration:underline;}




/************************************FOOTER**************************************/
#footer_bg{
background:url(../images/footer_bg.jpg) #c80000 repeat-x bottom;
width:990px;
min-height:265px;
margin:auto;}

.footer_div{
width:952px;
padding:10px 19px;}

.footer_div h1{
background:none;
border:none;
padding:0px 0px 7px 18px;
margin:0;
font-style:normal;
font-weight:normal;
color:#fdc324;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:normal;
text-shadow:none;}

.footer_line{
background:url(../images/footer_line.jpg) no-repeat;
background-position:center bottom;
padding:10px 0px;}

.footer_city_list{
padding-bottom:10px;}

.footer_city{
	padding:0px 18px;
	float:left;

	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}

.footer_city ul{
	padding:0;
	margin:0;
	z-index:100;}

.footer_city ul li{
	list-style: none;
	width:100px;
	margin:0;
	padding:2px 0px 2px 0px;
	font-weight:normal;
	float:left;}

.footer_city ul li a{
	padding:0px;
	text-decoration:none;
	margin:0px;
	color:#FFF;}

.footer_city ul li a:hover{
text-decoration:underline;}

a.footer_more{
background:url(../images/grey_arrow.jpg) #dcdcdc no-repeat;
background-position:45px 6px;
width:45px;
height:15px;
padding:2px 10px 0px 0px;
font-size:11px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#333;
display:block;
line-height:normal;
border-radius:5px;
text-align:center;
float:right;
text-shadow:0px 1px 0px #FFF;
text-decoration:none;}

a.footer_more:hover{
color:#ba0001;}

.footer_more_div{
padding-right:20px;}




/*********************************COPY_RIGHT*************************************/
#copyright{
width:990px;
padding:10px 0px;
margin:auto;}

.copyright_div{
color:#333;
width:500px;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;}


.copyright_div span{
color:#bb0302;}

.footer_right{
width:400px;
float:right;
text-align:right;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
margin-right:20px;
margin-top:10px;
}
.footer_right a{
margin-right:10px;
}






/****************************************************Inner-Part****************************************************/

.inner_top_bg{
	background:#f5f5f5;
	padding:15px;}
	
.inner_top_bg h1{
	font-size:32px;
	color:#bf1313;
	font-weight:normal;
	padding:0px;
	margin:0px;}
	
.inner_top_bg h3{
	font-size:20px;
	color:#bf1313;
	font-weight:normal;
	padding:0px;
	margin:0px;}
	
.inner_top_bg p{
	font-size:16px;
	color:#2d2d2d;
	font-weight:normal;
	padding:8px 0px;
	margin:0px;}
	
.inner_top_bg p span{
	color:#bf1313;}
	
.big_yellow_text{
	font-size:30px;
	color:#fba117;
	font-weight:normal;
	text-transform:uppercase;
	padding:23px 0px 10px 0px;
	margin:0px;}
	
.inner_border_text{
	background:url(../images/inner_heading_border.jpg) no-repeat right bottom;
	border:none;
	padding:10px 0px 0px 0px;
	margin:0;
	text-transform:uppercase;
	font-weight:bold;
	color:#bb0302;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:normal;
	text-shadow:0px 1px 0px #FFF;}
	
.inner_search_text{
	font-size:14px;
	color:#000000;
	font-weight:bold;}	
	
.inner_searchfield{
	background:#FFFFFF;
	border:#c6c4c5 1px solid;
	width:301px;
	height:21px;
	font-size:12px;
	color:#000000;
	padding:0px 5px;}	
	
.inner_searchbutton{
	background:transparent;
	background:url(../images/inner_search_button_bg.jpg) no-repeat;
	border:none;
	width:61px;
	height:24px;
	text-shadow:0px 1px 0px #FFFFFF;
	color:#000000;
	padding:0px 10px 3px 0px;
	cursor:pointer;}
	
/****************Form-Div*****************/	

.form_main_div{
	padding:15px 15px;}
	
.form_heading_text{
	background:url(../images/yellow_icon.jpg) no-repeat left;
	font-size:16px;
	font-weight:normal;
	color:#f1a10e;
	padding-left:20px;}	
	
.form_heading_text span{
	color:#bf1313;}	
	
/***Inner-Form****/

.inner_form_main{
	padding:5px 0px;}	

.inner_form_main td{
	padding:4px;
	text-align:left;
	padding-left:0px;
	font-size:12px;
	color:#000000;}	

.inner_form_main td span{
	color:#bd0000;
	font-weight:bold;}
	
.form_searchfield{
	background:#FFFFFF;
	border:#c6c4c5 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:297px;
	height:18px;
	font-size:12px;
	color:#000000;
	line-height:18px;
	padding:2px 5px;}	

.form_searchfield_error{
	background:#FFFFFF;
	border:#bb0302 1px solid;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:297px;
	height:18px;
	font-size:12px;
	color:#000000;
	line-height:18px;
	padding:2px 5px;}		
	
.form_listmenu{
	border:#c6c4c5 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:309px;
	height:25px;
	padding:3px;
	font-size:12px;
	color:#000000;}	

.form_listmenu_error{
border:#bb0302 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:309px;
	height:25px;
	padding:3px;
	font-size:12px;
	color:#000000;}	
	
.form_small_listmenu{
	width:60px;
	height:23px;
	padding:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:#c6c4c5 1px solid;}	
	
.form_small_textfield{
	width:100px;
	height:20px;
	border:#c6c4c5 1px solid;}	
	
.form_small_textfield_one{
	width:140px;
	height:20px;
	border:#c6c4c5 1px solid;}
	
.form_textarea{
	width:297px;
	height:100px;
	padding:5px;
	border:#c6c4c5 1px solid;}
	
.form_submit{
	background:transparent;
	background:url(../images/form_yellow_button_bg.jpg) no-repeat;
	width:116px;
	height:43px;
	border:none;
	font-size:15px;
	font-weight:bold;
	color:#250103;
	text-shadow:0px 1px 1px #FFFFFF;
	text-transform:uppercase;
	padding:0px 25px 0px 0px;
	cursor:pointer;}
	
/********************LOGIN*****************/

.login{}

.login h1{
	font-size:16px;
	color:#bf1313;
	font-weight:normal;
	padding:0px;
	margin:0px;}

.login h1 span{
	font-size:16px;
	color:#eb9b04;
	font-weight:normal;
	padding:0px;
	margin:0px;}

.login p{
	font-size:14px;
	color:#2d2d2d;
	font-weight:normal;
	padding:2px 0px;
	margin:0px;}

.login p a{
	font-size:14px;
	color:#c3110f;
	text-decoration:none;}

.login p a:hover{
	font-size:14px;
	color:#2d2d2d;
	text-decoration:underline;}
	
/***********************Right-con********************/

.right_content{}

.right_content h1{
	font-size:16px;
	color:#bf1313;
	font-weight:normal;
	padding:0px;
	margin:0px;}
	
.right_content ul{
	padding:10px 0px;
	margin:0px;}
	
.right_content ul li{
	background:url(../images/yellow_bullet.jpg) no-repeat;
	background-position:0px 9px;
	list-style-type:none;
	font-size:12px;
	line-height:18px;
	color:#000000;
	padding:3px 0px 3px 15px;
	margin:0px;}	


.link_text{
	font-size:13px;
	font-weight:bold;
	color:#c3110f;
	text-decoration:none;}

a.link_text:hover{
	font-size:13px;
	font-weight:bold;
	color:#2d2d2d;
	text-decoration:underline;}	
	
	






/***********************************FAQS***************************************/
.faqs_headline{
background:url(../images/faq_icon.jpg) no-repeat;
background-position:0px 6px;
border-bottom:2px #d0d0d0 solid;
padding:0px 0px 0px 25px;
margin-bottom:15px;}

.faqs_headline_us{
background:url(../images/usa_flag.png) no-repeat;
background-position:0px 3px;
border-bottom:2px #d0d0d0 solid;
padding:0px 0px 0px 40px;
margin-bottom:15px;}


.faqs_div{
background:url(../images/faqs_img.jpg) no-repeat bottom right;}

.faqs_questions_headline{
background:url(../images/qstn_icon.jpg) no-repeat;
background-position:0px 3px;
padding:0px 0px 10px 25px;}

.faqs_question_div{
border-bottom:1px #ccc dashed;
padding:20px 0px;}

.faqs_questions_headline h1{
background:none;
border:none;
padding-bottom:2px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}

.faqs_questions_headline h1 font{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:normal;
color:#fcaf3b;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}

.faqs_question_div p{
font-size:12px;
padding:0px;}

.faqs_questions_headline h2 font{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:bold;
color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}



/*************************************CONTACT_US************************************/
.contact_div{
padding:20px 0px;}

.contact_div table tr td{
padding:5px 0px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#555;
font-size:13px;
text-align:left;}

.msg_area{
	background:#FFFFFF;
	height:60px;
	border:#ccc 1px solid;
	font-size:11px;
	color:#6d6d6d;
	line-height:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px;}
	
.msg_icon{
background:url(../images/mail_icon.jpg) no-repeat;
background-position:0px 3px;
padding:0px 0px 10px 25px;}

.msg_icon h1{
background:none;
border:none;
padding-bottom:2px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}

.msg_icon h1 font{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:normal;
color:#fcaf3b;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}

.meroon_submit_button{
	background:url(../images/sumbit_btn.jpg) #bb0302 repeat-x;
	height:28px;
	cursor:pointer;
	color:#FFF;
	font-style:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0px 30px 5px 30px;
	font-size:12px;
	text-shadow:0px 1px 0px #FFF;
	border:none;
	margin:0;
	border-radius:4px;}








/******************************SEARCH_RESULTS***********************************/
.search_results_div{
width:100%;}

.search_results_div h1{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
line-height:normal;
font-weight:bold;
text-shadow:none;
text-transform:none;}


.yellow_search_bg{
background:url(../images/yellow_search_bg.jpg) #ffc500 repeat-x bottom;
border-radius:7px;
color:#222;
font-size:14px;
padding:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-shadow:0px 1px 0px #FFF;}

.yellow_search_bg table tr td{
padding:5px;}

.black_grey_button{
	background:url(../images/black_btn_bg.png) #3b3127 repeat-x;
	height:24px;
	cursor:pointer;
	color:#FFF;
	font-style:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0px 10px 5px 10px;
	font-size:12px;
	border:1px #4f4637 solid;
	margin:0;}
	
.alphabet_div{
background:#ffffcb;
border:1px #cbcbcb solid;
padding:5px;}

.alphabet_div span{
padding:0px 7px;
color:#999999;
}
.alphabet_div a{
font-weight:bold;
color:#000000;
text-decoration:none;
}
.alphabet_div a:hover{
text-decoration:underline;
}

.sort_results{
padding:20px 0px 30px 0px;
font-family:Verdana, Arial, Helvetica, sans-serif;}

.sort_results .right_div{
padding-left:30px;
width:200px;
float:right;}

.sort_results .left_div{
float:left;}


.select_area{
	height:22px;
	border:#ccc 1px solid;
	font-size:12px;
	color:#6d6d6d;
	line-height:22px;
	padding:0px;
	cursor:pointer;}
	
.sort_by_select_area{
	height:22px;
	border:#ccc 1px solid;
	font-size:12px;
	color:#bb0302;
	line-height:22px;
	padding:0px;
	cursor:pointer;}
	
	
.featured_tornoto_div{
padding:20px 0px;
border-bottom: 1px #ddd solid;}


.featured_tornoto_div h6{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:bold;
color:#990000;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:normal;
text-shadow:none;
text-align:left;
text-transform:uppercase;}

.featured_tornoto_div h5{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:normal;
color:#960202;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:normal;
text-shadow:none;
text-align:left;
text-transform:uppercase;}

.featured_tornoto_div span{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:normal;
color:#960202;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:normal;
text-shadow:none;
text-transform:uppercase;}

.featured_toronto_details{
background:#fff1d6;
border:1px #ffc95d solid;
padding:8px;
position:relative;}

.featured_toronto_details:hover{
background:#ffe9d6;
cursor:text;
border:1px #ff8888 solid;}

.search_results_img{
background:#FFF;
width:170px;
padding:5px;
box-shadow:0px 0px 5px #999;
float:left;}

.toronto_product_details{
padding-left:10px;
width:290px;
float:left;}

.toronto_product_details .little_padding{
padding-bottom:5px;}

.toronto_btn_area{
width:170px;
float:right;
text-align:right;}

.toronto_btn_area h1{
background:none;
border:none;
padding-bottom:5px;
margin:0;
font-style:normal;
font-weight:normal;
color:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:normal;
text-shadow:none;
text-transform:none;}

.toronto_btn_area h1 font{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:normal;
text-shadow:none;
text-transform:none;}

.toronto_btn_area h1 span{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:normal;
color:#0f8f00;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:normal;
text-shadow:none;
text-transform:none;}

.more_details_btn_div{
width:130px;
text-align:right;
position:absolute;
bottom:10px;
right:10px;}

a.more_details_btn{
	background:url(../images/sumbit_btn.jpg) #bb0302 repeat-x;
	height:23px;
	cursor:pointer;
	color:#FFF;
	font-style:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px 0px 0px 0px;
	font-size:12px;
	text-align:center;
	text-shadow:0px 1px 0px #6c0300;
	border:none;
	margin:0;
	display:block;
	border-radius:5px;
	text-decoration:none;}
	
a.more_details_btn:hover{
color:#ffd9d8;}

.all_toronto_div{
padding:20px 0px;}

.all_toronto_div h6{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:bold;
color:#e19619;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:normal;
text-shadow:none;
text-align:left;
text-transform:uppercase;}

.all_toronto_div h5{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:normal;
color:#e19619;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:normal;
text-shadow:none;
text-align:left;
text-transform:uppercase;}

.all_toronto_div span{
background:none;
border:none;
padding-bottom:10px;
margin:0;
font-style:normal;
font-weight:normal;
color:#e19619;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:normal;
text-shadow:none;
text-transform:uppercase;}

.all_toronto_details{
background:#FFF;
border:1px #ececec solid;
padding:8px;
margin:10px 0px;
position:relative;}

.all_toronto_details:hover{
background:#feeeee;
cursor:text;
border:1px #fdd9d9 solid;}




/*******************************TERMS_CONTIONS******************/
.terms_conditions_div{
padding:10px 0px;}

.terms_conditions_div h1{
background:url(../images/orange_bullet.png) no-repeat;
background-position:0px 4px;
border:none;
padding:0px 0px 10px 15px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;
text-transform:none;}









/*******************DETAILS**************************/
.share_div{
padding:20px 0px;
text-align:right;}

.asia_express{
background:#f4f4f4;
border:1px #ccc solid;
padding:8px;
margin:10px 0px;}

.asia_express_btn_div{
padding:0px 10px 50px 0px;
position:relative;}

.car_folder_div{
padding:5px 10px 0px 0px;
height:29px;}

.car_folder_div ul{
padding:0;
margin:0;
z-index:2000;}

.car_folder_div ul li{
padding:0px 2px;
float:right;
list-style:none;
margin:0;}

.car_folder_div ul li a{
width:29px;
height:29px;
margin:0;
padding:0;
display:block;}

.car_folder_div ul li a:hover{
opacity:.6;}

.asia_price_div{
float:left;
padding-right:20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-bottom:5px;
}

.details_left_div{
width:190px;
float:left;}

.details_pannel_padding{
padding-bottom:15px;}

.dinning_time{
padding:10px 0px;
border-bottom:1px #ccc dashed;
font-size:12px;}

.dinning_time h1{
background:url(../images/orange_bullet.png) no-repeat;
background-position:0px 4px;
border:none;
padding:0px 0px 4px 15px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;
text-transform:none;}


.details_pannel_padding h3{
background:none;
border:none;
padding:20px 0px 7px 0px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.takeout_details_right{
width:470px;
float:right;}

.productInfoNav {
	height:32px;
	margin:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	border-bottom:4px #ff9900 solid;}

.productInfoNav ul{
	padding:0;
	margin:0;
	z-index:100;}

.productInfoNav ul li{
	list-style: none;
	margin:0;
	padding:0px 2px 0px 2px;
	position:relative;
	float:left;}

.productInfoNav ul li a{
	background:url(../images/body_nav.jpg) #a80200 repeat-x;
	background-position:0px 0px;
	border:1px #7e0806 solid;
	border-bottom:none;
	font-size:13px;
	padding:7px 25px 0px 25px;
	height:25px;
	text-decoration:none;
	margin:0px;
	display:block;
	color:#FFF;
	border-radius:7px 7px 0px 0px;}

.productInfoNav ul li a:hover{
	background-position:0px -32px;
	border:1px #fda319 solid;
	border-bottom:none;
	color:#a80200;
	border-radius:7px 7px 0px 0px;}

.productInfoNav ul li a.active{
	background:url(../images/body_nav.jpg) #a80200 repeat-x;
	background-position:0px -32px;
	border:1px #fda319 solid;
	border-bottom:none;
	color:#333;
	text-shadow:0px 1px 0px #FFF;
	border-radius:7px 7px 0px 0px;}

.productInfoNav ul li a.check{
	background:url(../images/body_nav.jpg) #a80200 repeat-x;
	background-position:0px -32px;
	border:1px #fda319 solid;
	border-bottom:none;
	color:#333;
	text-shadow:0px 1px 0px #FFF;
	border-radius:7px 7px 0px 0px;}
	
.productInfoNav ul li a.uncheck{
	background:url(../images/body_nav.jpg) #a80200 repeat-x;
	background-position:0px 0px;
	border:1px #7e0806 solid;
	border-bottom:none;
	font-size:13px;
	padding:7px 25px 0px 25px;
	height:25px;
	text-decoration:none;
	margin:0px;
	display:block;
	color:#FFF;
	border-radius:7px 7px 0px 0px;}
	
.details_text_body{
padding:20px 0px 0px 0px;}

.details_text_body p{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#333;}



.truck_restaurant{
background:url(../images/truck.jpg) no-repeat left 2px;;
border-top:1px #ccc solid;
padding:15px 0px 15px 90px;
margin-top:50px;}

.truck_restaurant h3{
background:none;
border:none;
padding:0px 0px 7px 0px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.truck_restaurant h4{
background:none;
border:none;
padding:0px 0px 7px 0px;
margin:0;
font-style:normal;
font-weight:normal;
color:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}






/**********************************MENU****************************************/
.menu_contact_address{
float:left;
width:380px;
padding:0px 0px 20px 0px;}

.menu_contact_logo{
float:right;
padding-top:30px;
width:80px}

.menu_contact_address h1{
background:none;
border:none;
padding-bottom:2px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.menu_contact_address h1 font{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:normal;
color:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.menu_contact_address h2{
background:none;
border:none;
padding:0px 0px 10px 30px;
margin:0;
font-style:normal;
font-weight:normal;
color:#999;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.menu_contact_address p{
font-family:Verdana, Arial, Helvetica, sans-serif;}

.coder_img{
float:right;
padding-left:20px;}

.cafe_runner_text{
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#444;
padding-top:20px;}


.menu_list{
padding-bottom:40px;
border-radius:6px 6px 0px 0px;
overflow:hidden;}

.menu_list table tr th{
background:#ff9600;
padding:5px 5px;
color:#FFF;
font-size:14px;
font-family:Georgia, "Times New Roman", Times, serif;
font-weight:bold;
text-shadow:0px 1px 0px #a65a00;}

.menu_list table tr td{
padding:7px 5px;
color:#999;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
border-bottom:1px #ccc solid;}

.menu_list .table_bg_clr{
background:#f5f5f5;} 

.menu_list h1{
background:none;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:normal;
color:#444;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.menu_categories_div{
background:#f5f5f5;
border-radius:7px;
border:1px #ddd solid;
overflow:hidden;}

.menu_categories_header{
background:url(../images/nav_bg.jpg) repeat-x;
height:24px;
padding:6px 10px 0px 10px;
color:#FFF;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;}

.menu_categories_list{
padding:7px;
width:174px;}

.menu_categories_list ul{
margin:0;
padding:0;
z-index:100;}

.menu_categories_list ul li{
list-style:none;
border-bottom:1px #ddd solid;
border-top:1px #fff solid;
padding:0px;
width:174px;}

.menu_categories_list ul li.menu_menu{
list-style:none;
border-bottom:1px #ddd solid;

padding:5px 0px 5px 0px;
font-size:16px;
font-weight:bold;
color:#000000;
width:174px;}

.menu_categories_list ul li a{
background:url(../images/orange_arrow.png) no-repeat;
background-position:5px 11px;
padding:4px 0px 4px 15px;
color:#bb0302;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
display:block;}

.menu_categories_list ul li a:hover{
background:url(../images/white_bullet.png) #fcaf3b no-repeat;
background-position:5px 11px;
color:#FFF;}

.menu_categories_list h1{
background:url(../images/faq_icon.jpg) no-repeat left 2px;
border:none;
padding:0px 0px 6px 15px;
margin:0;
font-style:normal;
font-weight:normal;
color:#444;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.coupon_div{
padding:10px 7px;}

.coupon_div p{
font-size:11px;
font-family:Verdana, Arial, Helvetica, sans-serif;
line-height:14px;}

.coupon_div_img{
padding:0px 6px 6px 0px;
float:left;}





/****************************REGISTER*******************************/
.register_form_div{
padding:10px 0px;}

.register_form_div table tr td{
padding:5px 0px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#555;
font-size:13px;
text-align:left;}

.register_form_div span{
	color:#F00;}
	
.register_form_div h5{
background:none;
border:none;
padding-top:5px;
margin:0;
font-style:normal;
font-weight:normal;
color:#888;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
line-height:normal;
text-align:left;
text-shadow:0px 1px 0px #FFF;}

.register_form_div label{
	padding-left:5px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	cursor:pointer;
	vertical-align:2px;}

.login_icon{
background:url(../images/login_icon.png) no-repeat;
background-position:0px 1px;
padding:0px 0px 10px 35px;}

.login_icon h1{
background:none;
border:none;
padding-bottom:2px;
margin:0;
font-style:normal;
font-weight:normal;
color:#bb0302;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}

.login_icon h1 font{
background:none;
border:none;
padding:0;
margin:0;
font-style:normal;
font-weight:normal;
color:#fcaf3b;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:none;}
.warnings {
    background: url(../images/warning_32.png) no-repeat scroll 6px 6px #FCFCE1;
    border: 2px solid #FFCC00;
    color: #153744;
    font-size: 12px;
    line-height: 16px;
 
	width:600px;
	margin:10px auto;
    padding: 6px 10px 10px 48px;
}
.warnings h1 {
    color: #FF0101;
	padding-top:5px;
   font-size:18px;
}
.warnings ol {
margin:0;
padding:0;
}
.warnings ol li {
    color: #FF0101;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    padding: 5px 10px;
}
/*********************************LOGIN************************************/
.login_border_div{
	background:url(../images/login_border.jpg) repeat-y;
	background-position:center top;}
	
.returning_customer{
	width:440px;
	float:left;}
	
.login_form{
	width:100%;}

.login_form table tr td{
padding:5px 0px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#555;
font-size:13px;}

.login_form span{
	color:#F00;}
	
.login_form label{
	padding-left:5px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	cursor:pointer;
	vertical-align:2px;}
	
.first_user_div{
	width:440px;
	float:right;}

.first_user_headline{
	background:url(../images/create_account.jpg) no-repeat left;
	background-position:0px 0px;
	padding:35px 0px 25px 80px;}
	
.create_btn_div{
	width:250px;
	padding-bottom:20px;
	margin:auto;}
	
a.create_account_div{
	background:url(../images/grey_btn_bg.jpg) #dbdbd9 repeat-x top;
	height:38px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
	text-shadow:0px 1px 0px #FFF;
	font-weight:bold;
	font-size:18px;
	font-style:oblique;
	text-align:center;
	display:block;
	padding:18px 10px 0px 10px;
	text-decoration:none;
	border-radius:7px;
	border:1px #bbb solid;}
	
a.create_account_div:hover{
	color:#444;
	box-shadow:0px 0px 5px #aaa;}
	
.create_account_details_text{
	text-align:center;
	font-family:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}
	
	
.takeout_gallery{
	width:972px;
	padding:9px;
	border:2px #ccc solid;
	border-radius:7px;
	margin:40px 0px 0px 0px;}

	
.gallery_img_frame_div{
	width:150px;
	padding:6px;
	float:left;}
	
.gallery_dic_clr{
	background:#b70100;
	border-radius:0px 0px 6px 6px;
	cursor:pointer;}
		
.gallery_dic_clr:hover{
	box-shadow:0px 0px 8px #333;}
	
.gallery_div_img{
	width:150px;
	height:110px;}
	
.gallery_div_img_text{
	padding:5px 10px;
	color:#FFF;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;}
#loginerror p{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FF0000;
padding-left:10px;
} 	
.header_myaccount{
padding-right:20px;
float:right;
width:500px;
}
.header_myaccount ul{
	padding:0;
	margin:0;
	z-index:100;}

.header_myaccount ul li{
background:url(../images/register_divider.jpg) no-repeat left;
	list-style: none;
	margin:0;
	font-size:12px;
	padding:0px 0px 0px 2px;
	font-weight:normal;
	float:right;}

.header_myaccount ul li a{
	padding:0px 10px;
	text-decoration:none;
	margin:0px;
	
	color:#333;}

.header_myaccount ul li a:hover{
text-decoration:underline;}

.header_myaccount a.account_link{
color:#bb0302;
text-decoration:none;}
.cuisine{
width:950px;
margin:auto;
}
.cuisine h2{
font-size:14px;
font-weight:bold;
}
.link_city{
color:#c3110f;
font-size:12px;
}
.cuisine a {
font-size:13px;

font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#c3110f;
text-decoration:none;
padding:0px 5px;
}
.cuisine a:hover {
text-decoration:underline;
}
.cuisine img{
float:right;
height:269px;
width:350px;
border:#dddddd 8px solid;
margin:0px 0px 20px 20px;
}
.all_city{
width:235px;
float:left;
}
.by_state {
    color: #000000;
	display:block;
	margin:3px 0px;
    font-size: 15px;
    font-weight: bold;
}
.body_text {
    color: #333333;
	display:block;
    font-size: 13px;
    line-height: 18px;
}
.all_city a{
padding:0;
padding-right:3px;
 color: #333333;
 font-weight:normal;
 font-size:12px;
}

/*********************************MY-ACCOUNT**************************************/

.my_account_left_div{
	width:190px;
	float:left;}
	
.my_account_right_div{
	width:780px;
	float:right;}
	
.my_account_right_div td{
	padding:5px;}
	
.my_account_right_div .table{
	border:#cccccc 1px solid;
	border-radius:5px 5px 0px 0px;
	border-bottom:none;}
	
.account_yellow_bg_left{
	background:url(../images/myaccount_yellow_bg.jpg) repeat-x;
	border-radius:5px 0px 0px 0px;}	
	
.account_yellow_bg_right{
	background:url(../images/myaccount_yellow_bg.jpg) repeat-x;
	border-radius:0px 5px 0px 0px;}
	
.account_yellow_bg_middle{
	background:url(../images/myaccount_yellow_bg.jpg) repeat-x;}
	
.account_heading_text{
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	border-right:#d67e00 1px solid;}
	
.account_heading_text.none{
	border:none;}	
	
.account_content_text{
	font-size:12px;
	color:#494949;
	padding:0px 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-right:#e0e0e0 1px solid;
	border-bottom:#e0e0e0 1px solid;}	
	
.account_content_text.none{
	border-right:none;}
	
img{
	border:none;
	vertical-align:middle;}	
.update_div{
background: url(../images/info_32.png) no-repeat scroll 9px 11px #E3F8FF;
border: 2px solid #9CB9D7;
color: #153744;
width:580px;
padding:20px 25px 20px 48px;
margin:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
}	
/****************************EDIT_ACCOUNT*******************************/
.right_part_div{
	width:780px;
	float:right;}

.edit_account_heading{
	float:left;
	width:500px;}
	
.edit_link_right{
	float:right;
	width:50px;}
	
a.edit_link{
	background:url(../images/final_edit_icon.jpg) no-repeat;
	background-position:0px 0px;
	padding:0px 0px 0px 30px;
	color:#bb0302;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	text-align:right;
	display:block;}
	
a.edit_link:hover{
	text-decoration:underline;}
	
.edit_account_form_list{
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;}
	
.edit_account_form_list table tr th{
	font-weight:normal;
	color:#111;
	padding:5px 0px;}
	
.edit_account_form_list table tr td{
	color:#888;
	padding:5px 0px;}

.edit_account_form_list h1{
	background:url(../images/qstn_icon.jpg) no-repeat;
	background-position:0px 24px;
	border:none;
	padding:20px 0px 10px 25px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#bb0302;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:normal;
	text-shadow:0px 1px 0px #FFF;}

.edit_account_form_list h1 font{
	background:none;
	border:none;
	padding:0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#fcaf3b;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:normal;
	text-shadow:0px 1px 0px #FFF;}
	
.edit_account_form_list h2{
	background:none;
	border:none;
	padding:5px 0px 5px 0px;
	margin:0;
	font-style:normal;
	font-weight:bold;
	color:#bb0302;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	text-shadow:0px 1px 0px #FFF;}
	
.inner_edit_account_form_list{
	width:100%;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}
	
.inner_edit_account_form_list table tr th{
	font-weight:normal;
	color:#333;
	padding:2px 0px;}
	
.inner_edit_account_form_list table tr td{
	color:#888;
	padding:2px 0px;}
	
.inner_edit_account_form_list .restaurant_img{
	width:100%;}
	
.restaurant_img img{
	float:left;
	padding:3px;}
	
/**************************GALLERY**************************/
.gallery_img_div{
	width:984px;
	margin:auto;}
	
.gallery_img_div_frame_clr{
	background:#b70100;
	width:206px;
	padding:2px 2px 7px 2px;
	border-radius:7px;
	margin:0px 13px 40px 20px;
	float:left;
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	
	border:1px #fe9796 solid;}
	
.gallery_img_div_frame_clr:hover{
	box-shadow:0px 0px 6px #111;}

..gallery_img_div_frame_clr a{
margin-bottom:10px;

}	
	
.gallery_img_div_frame_clr img{
	padding-bottom:0px;}
	
.gallery_img_div_frame_clr h1{
	background:none;
	border:none;
	padding:0;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:normal;
	text-shadow:none;}
	
a.white_link{
	color:#FFF;
	text-decoration:none;}

a.white_link:hover{
	text-decoration:underline;}
.paymentImage img{
float:left;
}	

.avoy_table{
border:#CCCCCC 1px solid;
}

.avoy_table th{
background:url(../images/myaccount_yellow_bg.jpg) repeat-x;
padding:5px 0px;
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.avoy_table td{

padding:5px 0px;
color:#000000;
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
border-bottom:#CCCCCC 1px solid;

}	
.gallery_image{
width:100px;
float:left;
padding:0px 5px 0px 0px;
height:100px;
margin:3px;
}	
.gallery_image img{
border:#CCCCCC 1px solid;
max-height:100px;
width:100%;
height:100px;

}
/****************************************NEW_MENU*****************************************/
.matka_cuisine_form{
	padding:20px 0px;
	min-height:150px;
	font-weight:normal;}
	
.matka_cuisine_form table tr td{
	padding:3px 5px;
	color:#444;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;}
	
.matka_cuisine_form table tr th{
	background:#ddd;
	padding:3px 5px;
	color:#444;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	border-bottom:1px solid #bbb;
	border-top:1px solid #bbb;}
	
.matka_cuisine_form h1{
	background:none;
	border-bottom:1px #bbb solid;
	padding:5px 0px 10px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	line-height:normal;
	font-style:normal;
	font-weight:normal;
	margin-bottom:5px;}
	
.matka_cuisine_form span{
	color:#390;}	

.pick_up_n_delivery{
	padding-bottom:15px;}
	
.pick_up_n_delivery label{
	vertical-align:1px;
	cursor:pointer;
	padding-left:5px;}
	
.pick_up_n_delivery h5{
	background:none;
	border:none;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#790000;
	line-height:normal;
	font-style:normal;
	font-weight:bold;
	margin-bottom:5px;
	text-align:center;}
	
	
.restaurant_deliver{
	background:#FCFCC3;
	border:1px #ccc solid;
	padding:5px;
	text-align:center;
	color:#333;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}	

a.deletecart{
background:url(../images/icon_x_red.png) no-repeat;
height:9px;
width:9px;
display:block;
}	
.cardtable{
background:#f8f8f8;
border-radius:5px;
padding:10px;
}
.cardtable td{
padding:10px 5px;
border-bottom:#CCCCCC 1px solid;
}
.cardtable td.title{
color:#000000;
font-weight:bold;
}
.addtocart_submit{
background:url(../images/btn_addcart-menu.png) no-repeat;
    border: medium none;
    height: 37px;
    outline: medium none;
    width: 291px;
	cursor:pointer;
}
#print_eroorDIV{
height:20px;
}
#print_eroorDIV span{
color:#FF0000;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

#print_newseroorDIV{
padding-top:3px;
height:17px;
}
#print_newseroorDIV span{
color:#FF0000;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
#print_newseroorDIV font{
color:#008000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}


#addtocartID td{
border-bottom:#CCCCCC 1px solid;
}
.star-x {
background:url(../images/star_normal.png) no-repeat scroll left top transparent;}

.star {
display: block;
height: 15px;
margin: 0px 5px 0 0;
width: 166px;}


.star-x span {
background:url(../images/star_hover.png) no-repeat scroll left top transparent; }


.star span {
display: block;
height: 100%;}
.comment{
border:#CCCCCC 1px solid;
border-radius:5px;
padding:5px 10px;
margin:0px 0px 10px 0px;
}
.comment h4{
color:#BB0302;
font-weight:bold;
font-size:11px;
font-family:Verdana, Arial, Helvetica, sans-serif;
margin-right:5px;
text-align:right;
}
.mail_list_div{
	background:#ffffa3;
    border: 1px solid #b2b2b2;
   	display:none;
    overflow: hidden;
    position: absolute;
	text-align: left;
    top: 25px;
	left:0px;
	width: 210px;
    z-index: 10000; 
	right:0px;
	cursor:pointer;
	padding:5px;
	
}
.grey_pannel_field h1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#BB0302;
}
.grey_pannel_field h2{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#000;
margin:0;
padding:0;
}
.grey_pannel_field p{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#000;
}
.ordernow_table{
border:1px solid #D0D0D0;
}
.ordernow_table th{
background:#f8f8f8;
padding:5px;
border-bottom:1px solid #D0D0D0;
border-right:1px solid #D0D0D0;
text-align:left;
}
.ordernow_table td{
padding:5px;
border-bottom:1px solid #D0D0D0;
border-right:1px solid #D0D0D0;
}
.customer_info{
border:1px solid #D0D0D0;
border-bottom:3px solid #D0D0D0;
}
.customer_info td{
padding:10px;
border-right:1px solid #D0D0D0;
}

.customer_info td tr td{
padding:5px;
border:0;
text-align:right;
border-bottom:1px solid #D0D0D0;
}
.customer_info td tr.end_table td{
font-weight:bold;
border:0;
border-top:2px solid #D0D0D0;
}

/******************************DELIVERY_PICKUP************************/
.delivery_pickup{
	background:#ccc;
	border-radius:10px;
	border:1px #bbb solid;
	padding:10px;}
	
.delivery_pickup_main{
	background:#FFF;
	border:1px #bbb solid;
	padding:10px;}
	
.delivery_pick_form{
	width:450px;
	padding:10px 0px;
	margin:auto;}
	
.delivery_pickup_main h1{
	background:none;
	border:none;
	margin:0px;
	padding-bottom:20px;
	color:#bb0302;
	text-shadow:none;
	line-height:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	text-align:center;}
	
	
.delivery_pick_frame{
	background:url(../images/delivery_n_pickup_frame.jpg) #f2f2f2 repeat-x top;
	border:1px #b6b6b6 solid;
	border-radius:7px;
	position:relative;
	padding:5px 30px 5px 150px;}
	
	
.delivery_pick_frame label{
	vertical-align:1px;
	padding-left:5px;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	cursor:pointer;}
	
.delivery_pick_frame_arw{
	background:url(../images/frame_arrow.jpg) no-repeat;
	width:18px;
	height:15px;
	position:absolute;
	padding:0;
	margin:0;
	top:-15px;
	left:40px;}
	
.delivery_pick_form{
	padding:20px 0px 0px 0px;}
	
.delivery_pick_form table tr td{
	padding:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#555;}
	
.find_button{
	background:url(../images/readmore_btn_big.jpg) no-repeat;
	height:37px;
	width:200px;
	cursor:pointer;
	color:#FFF;
	font-weight:normal;
	font-style:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0px 25px 5px 0px;
	font-size:15px;
	text-shadow:1px 0px 0px #000;
	border:none;
	margin:0;}
	
.update_div{
background: url(../images/info_32.png) no-repeat scroll 9px 11px #E3F8FF;
border: 2px solid #9CB9D7;
color: #153744;
width:580px;
padding:20px 25px 20px 48px;
margin-bottom:20px;
}	

a.unlock_link{
	
	
	color:#000000;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	text-align:right;
	}
	
a.unlock_link:hover{
	color:#bb0302;
	text-decoration:none;}

.div_unlock{
	background:url(../images/unlock_red.png) no-repeat;
	background-position:0px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	height:24px;
	margin:20px;
	padding-top:5px;
	padding-left:40px;
	color:#bb0302;
}	
.mail_list_div{
	background:#ffffa3;
    border: 1px solid #b2b2b2;
   	display:none;
    overflow: hidden;
    position: absolute;
	text-align: left;
    top: -30px;
	
	width: 210px;
    z-index: 10000; 
	left:100px;
	cursor:pointer;
	padding:5px;
	
}
.noinfo{
color:#FF0000;
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
width:100%;
display:block;
}

.noinfo_big{
color:#FF0000;
font-size:14px;
font-weight:bold;
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
width:100%;
display:block;
}
.imageDiv{
float:left;
margin:5px 10px 10px 5px;
}
.featureDIV{
position:absolute;
right:60px;
top:100px;
width:220px;
text-align:center;
}
.featureDIV h1{
color:#f8050b;
font-family:Arial, Helvetica, sans-serif;
font-size:17px;
line-height:normal;
font-weight:bold;
}

.featureDIV h2{
color:#f8050b;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
line-height:normal;
font-weight:normal;
}

.featureDIV span{
color:#000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
line-height:normal;
display:block;
font-weight:normal;
padding-bottom:5px;
}

.featurePayment{
background:url(../images/sumbit_btn.jpg)  repeat-x;
height:23px;
padding:5px 20px 0px 20px;
text-decoration:none;
display:block;
color:#FFFFFF;
border:0;
font-weight:bold;
text-align:center;
width:150px;
border-radius:7px;
cursor:pointer;
margin-left:20px;
}
/*********************************SUB_1***************************************/
.deep_grey_pannel{
	background:#eaeaea;
	border-top:4px #fcaf3b solid;
	padding:20px;
	border-radius:10px;}

.deep_grey_pannel h1{
	background:none;
	border:none;
	padding-bottom:5px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#444;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:normal;
	text-shadow:none;
	text-align:center;}


.deep_grey_pannel h2{
	background:none;
	border:none;
	padding-bottom:15px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:normal;
	text-shadow:none;
	text-align:center;}
	
.login_button{
	background:url(../images/login_btn.png) no-repeat;
	width:193px;
	height:50px;
	cursor:pointer;
	color:#FFF;
	font-style:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0px 0px 5px 30px;
	font-size:14px;
	font-weight:bold;
	text-shadow:0px 1px 0px #000;
	border:none;
	margin:0;}
	
.compare_plan_div{
	padding:20px 0px 0px 0px;}

	
.compare_plan_div table tr td{
	padding:7px 0px;
	color:#294779;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;}
	
.compare_plan_div table tr td h1{
	background:none;
	border:none;
	padding:3px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#0d2c61;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_div table tr th{
	padding:10px 0px;}
	
.compare_plan_div table tr th h1{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#2274a4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_div table tr th h1 font{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#2274a4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_div table tr th h2{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_div table tr th h2 font{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:normal;
	text-shadow:none;}
	
a.more_link{
	text-decoration:underline;
	color:#2274a4;}
	
a.more_link:hover{
	text-decoration:none;}
	
	
	
	
	
/************************RESTAURANT_OWNER_NAV***********************/
.nav ul li a.rstrnt_own{
	background:url(../images/restaurant_owner_nav_btn.png) repeat-x;
	background-position:0px 0px;
	width:140px;
	font-size:12px;
	padding:6px 10px 0px 10px;
	height:24px;
	text-decoration:none;
	font-weight:normal;
	margin:0px;
	display:block;
	color:#FFF;
	
	box-shadow:1px 0px 5px #ad6f00;
	border-radius:6px 6px 0px 0px;}

.nav ul li a.rstrnt_own:hover{
	background-position:0px -30px;}
	
.nav ul li a.rstrnt_own_active{
	background:url(../images/restaurant_owner_nav_btn.png) repeat-x;
	background-position:0px -30px;
	width:140px;
	font-size:12px;
	padding:6px 10px 0px 10px;
	height:24px;
	text-decoration:none;
	font-weight:normal;
	margin:0px;
	display:block;
	color:#FFF;
	text-shadow:1px 1px 0px #0080FF;
	box-shadow:1px 0px 5px #ad6f00;
	border-radius:6px 6px 0px 0px;}
	
	
	
/****************************COMPARE_PLAN_TOP_PORTION****************/
	
.compare_plan_div h1{
	background:none;
	border:none;
	padding:0px 0px 10px 0px;
	margin:0;
	font-style:normal;
	font-weight:bold;
	color:#333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_top_area_div{
	padding-bottom:20px;
	color:#333;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}
	
.compare_plan_top_area_div h1{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:bold;
	color:#980108;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_top_area_div h2{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:bold;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_top_area_div h2 font{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:bold;
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_top_area_div h3{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:bold;
	color:#df9b08;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_top_area_div h4{
	background:none;
	border-bottom:1px #CCC solid;
	padding:0px 0px 6px 0px;
	margin-bottom:6px;
	font-style:normal;
	font-weight:normal;
	color:#444;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:normal;
	text-shadow:none;}
	
.compare_plan_top_area_div h5{
	background:none;
	border:none;
	padding:0px 0px 10px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#444;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:normal;
	text-shadow:none;}
	
.padding_sml{
	padding-bottom:20px;}
	
.basic_listing{
	padding:0px 0px 20px 10px;}
	
.borderless_headline{
	background:url(../images/faq_icon.jpg) no-repeat;
	background-position:0px 6px;
	padding:0px 0px 0px 25px;
	margin-bottom:7px;}
	
	
.basic_listing h1{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#2274a4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:normal;
	text-shadow:none;}
	
.basic_listing h1 font{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:normal;
	text-shadow:none;}
	
.basic_listing h2{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:normal;
	text-shadow:none;}
.basic_listing h2 span{	
color:#F00;
}
.basic_listing h2 font{
	background:none;
	border:none;
	padding:0px 0px 0px 0px;
	margin:0;
	font-style:normal;
	font-weight:normal;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:normal;
	text-shadow:none;}
/**********************POP_UP****************************/
.popup_div{
	background:#fff5d6;
	padding:10px;
	width:280px;
	margin:auto;
	border:1px #ffbb5b solid;
	border-radius:7px 7px 7px 0px;
	position:absolute;
	box-shadow:0px 0px 7px #E0E0E0;
	bottom:35px;
	left:0px;
	}
	
.pop_inner{
	width:270px;
	padding:5px;
	position:relative;
	color:#333;}
	
.pop_inner p{
	font-weight:normal;
	font-size:11px;
	padding-bottom:7px;}
	
a.pop_link{
font-size:11px;
	color:#0080FF;
	text-decoration:underline;}
	
a.pop_link:hover{
	text-decoration:none;}
	
.pop_anqr{
	background:url(../images/pop_up_down_anqour.png) no-repeat;
	width:19px;
	height:20px;
	position:absolute;
	bottom:-30px;
	left:-11px;}
	
.delete_div{
	width:16px;
	height:16px;
	position:absolute;
	right:-7px;
	top:-7px;}
	
a.delete{
	background:url(../images/delete.png) no-repeat;
	width:16px;
	height:16px;
	display:block;}
	
a.delete:hover{
	opacity:0.6;}	
#showOnlyID{
display:none;
}	
.help_avoy{
font-size:13px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color:#0d04ff;
margin:20px 0px 0px 0px;
}
a.cuisine_title{
color:#C3110F;
text-decoration:none;
}
a.cuisine_title:hover{
color:#FCAF3B;
text-decoration:underline;
}
.search_small_listmenu{
	width:60px;
	height:23px;
	padding:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:#ec3130 1px solid;
	border-radius:4px;
	}
.path_link{
color:#5d5d5d;
font-weight:bold;
font-size:11px;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
}			
a.path_link{
color:#5d5d5d;
font-weight:bold;
font-size:11px;
text-decoration:underline;
font-family:Verdana, Arial, Helvetica, sans-serif;
}	
/*********************************20TH_DEC_2012***************************************/
.takeout_option_div{
	padding:20px 0px 30px 0px;
	border-bottom:3px #cecece solid;
	padding:0px 0px 2px 0px;
	margin-bottom:15px;
	font-style:normal;
	font-weight:bold;
	color:#bb0302;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:normal;
	text-shadow:0px 1px 0px #FFF;}
	
.select_div_new{}

.select_div_new h1{
	background:none;
	border:none;
	padding:0px 0px 3px 0px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#444;
	font-weight:bold;
	line-height:normal;}
	
.select_div_new p{
	padding:0px 0px 4px 20px;
	color:#444;
	font-family:Verdana, Arial, Helvetica, sans-serif;}
	
.select_div_location{
	background:url(../images/location.jpg) no-repeat;
	background-position:0px 10px;
	width:204px;
	float:left;
	min-height:100px;
	padding:0px 14px 0px 110px ;
	border-left:1px #FFF solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333;
	border-right:1px #c6c6c6 solid;}


.select_div_cuisine{
	background:url(../images/cuisine.jpg) no-repeat;
	background-position:17px 10px;
	width:214px;
	float:left;
	min-height:100px;
	padding:0px 14px 0px 100px ;
	border-left:1px #FFF solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333;
	border-right:1px #c6c6c6 solid;}

.select_div_menu_card{
	background:url(../images/menu_card.jpg) no-repeat;
	background-position:16px 5px;
	width:200px;
	float:left;
	min-height:100px;
	padding:0px 14px 0px 114px ;
	border-left:1px #FFF solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333;
	border-right:1px #c6c6c6 solid;}
.select_div_menu_card p{
text-align:left;
}
.browse_div{
	padding:5px 0px 0px 20px;}
	
a.browse_city_btn{
	background:url(../images/browse_btn.png) no-repeat;
	background-position:0px -66px;
	width:155px;
	height:33px;
	padding:0px;
	display:block;
	text-decoration:none;}

a.browse_city_btn:hover{
	background:url(../images/browse_btn.png) no-repeat;
	background-position:0px -99px;}

a.browse_cuisine_btn{
	background:url(../images/browse_btn.png) no-repeat;
	background-position:0px 0px;
	width:155px;
	height:33px;
	padding:0px;
	display:block;
	text-decoration:none;}

a.browse_cuisine_btn:hover{
	background:url(../images/browse_btn.png) no-repeat;
	background-position:0px -33px;}

.newest_headline{
	background:url(../images/new.png) no-repeat;
	background-position:0px 0px;
	border-bottom:2px #d0d0d0 solid;
	padding:5px 0px 1px 35px;
	margin-bottom:15px;
	font-style:normal;
	font-weight:normal;
	color:#bb0302;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:normal;
	text-shadow:0px 1px 0px #FFF;}
.login_icon h2 font{
background:none;
border:none;
padding:0px;
margin:0;
font-style:normal;
font-weight:bold;
color:#000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
line-height:normal;
text-shadow:0px 1px 0px #FFF;}

.form_avoy th{
color: #000000;
    font-size: 12px;
    padding: 4px;
	text-align:left;
width:250px;
font-weight:normal;	
}.aaa_form th{
color: #000000;
    font-size: 12px;
    padding: 4px;
	text-align:left;
width:250px;
font-weight:normal;	
}
.google_map{
width:100%;
margin:30px 0px 0px 0px;
}
.overall_stat{
padding:10px;
background:#ededed;
border-radius:7px;
}
 .statistics1{
background:url(../images/statics1.png) no-repeat left top;
padding:0px 0px 0px 70px;
min-height:70px;
}

.statistics2{
background:url(../images/statics2.png) no-repeat left top;
padding:0px 0px 0px 70px;
min-height:70px;
}
.statistics3{
background:url(../images/statics3.png) no-repeat left top;
padding:0px 0px 0px 70px;
min-height:70px;
}

.overall_stat ul{
margin-left:15px;
list-style:none;
}
.overall_stat ul li{
list-style:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-bottom:5px;
}

.overall_stat ul li a{
color:#BB0302;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

.overall_stat ul li a:hover{
text-decoration:underline;

}
.statis2{
background:none;
border-top:#BB0302 2px solid;
border-radius:0PX;
margin-top:10px;
}
.stat_table th,
.stat_table td
{
text-align:left;
padding:3px;
}
.stat_table{
margin-left:80px;
}
.stat_table th{
width:120px;
color:#BB0302;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:14px;
font-weight:normal;
}
.stat_table td{

color:#000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
font-weight:bold;
}
#map_canvas2{
margin-top:30px;
border-radius:7px;
border:#CCCCCC 1px solid;
}