a.home_black:hover{
    color:#bb0302;
    text-decoration:none;}


a.small_black{
    color:#000;
    font-size:10px;
    text-decoration:none;}

a.small_black:hover{

    text-decoration:underline;}
a.home_black{
    color:#000;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;}

a.home_black:hover{
    color:#bb0302;
    text-decoration:none;}



.form_position{

    z-index:5;
    right: 10px;
    position: absolute;
}
.pop{
    top:420px;
}


@media (min-width: 1200px) {
    .pop{
        top:420px !important;

    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .pop{

        top:340px !important;

    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .pop{
        left:553px;
        top:270px !important;
    }
}
@media (min-width: 992px) and (max-width: 1198px) {
    .pop{
        left:580px;
        top:270px !important;
    }
}


@media (max-width: 767px) {
    .form_position{
        z-index:0;
        position: relative;

    }
    .pop{
        top:50px !important;
    }
}

@media (max-width: 480px) {
    .pop{

        top:20px !important;
    }
}